block popups
   .download(style="display: none")
      img.download__logo(src="images/icons/logo-white.svg", alt="логотип" width="120")
      .dowload__top
         h2.download__title Загрузить видео/фото
      form.form(action="#")
         .form__inner
            .form__left
               .form__gender
                  p.form__gender-title Ваш пол
                  .form__gender-manage
                     label.form__gender-label
                        input(type="radio" name="gender" checked)
                        span.form__gender-radio
                        span.form__gender-text Я парень
                     label.form__gender-label
                        input(type="radio" name="gender")
                        span.form__gender-radio
                        span.form__gender-text Я парень
               .form__inputs
                  label.form__inputs-label
                     span.form__inputs-name Фамилия
                     input(type="text")
                  label.form__inputs-label
                     span.form__inputs-name Имя
                     input(type="text")
                  label.form__inputs-label
                     span.form__inputs-name Название видео/фото
                     input(type="text")
            .form__right
               label.form__download
                  input(type="file")
                  img.form__download-icon(src="images/icons/download.svg", alt="загрузить" width="53" height="53")
         button.btn Принять участие